* {
    /*box-shadow: inset 0px 0px 0px 1px red;*/
}

#header-container {
    top: -70px;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--platinum);
    color: white;
    width: 100vw;
    height: 70px;
    /*transition: top 0.3s ease;
    transition: color 1s ease;*/
    transition-property: top, color;
    transition-duration: 0.3s, 1s;
    z-index: 30;
}

#header-container.show {
    top: 0px;
    color: var(--jet);
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--platinum);
    color: var(--jet);
    width: 85vw;
    height: 50px;
}

#header-title {
    font-size: 2em;
    font-weight: 600;
    transition: all 0.3s ease;
}

#header-title a {
    color: var(--jet);
    text-decoration: none;
}

#header-title:hover {
    color: #646464;
    cursor: pointer;
}

#nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}

#nav a {
    color: var(--jet);
    text-decoration: none;
}

.nav-underline {
    width: 0;
    height: 1px;
    background-color: var(--jet);
    transition: width 0.3s ease;
}

.nav-underline.show {
    width: 100%;
}

#nav>div {
    margin-left: 20px;
}

#nav div span {
    cursor: pointer;
}

#mobile-burger-button {
    display: none;
    cursor: pointer;
    align-items: center;
    height: 35px;
    width: 35px;
}
#mobile-burger {
    width: 35px;
    height: 2px;
    background: var(--jet);
    transition: all 0.3s ease;
}

#mobile-burger::before, 
#mobile-burger::after {
    content: "";
    position: absolute;
    width: 35px;
    height: 2px;
    background: var(--jet);
    transition: all 0.3s ease;
}


#mobile-burger::before {
    transform: translateY(-8px);
}

#mobile-burger::after {
    transform: translateY(8px);
}

#mobile-burger-button.open #mobile-burger {
    transform: translateX(-50px);
    background: transparent;
}

#mobile-burger-button.open #mobile-burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

#mobile-burger-button.open #mobile-burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}

#mobile-nav-container {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: var(--platinum);
    color: var(--jet);
    z-index: 21;

}
#mobile-nav {
    top: 70px;
    position: relative;
    top: 100vh;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    transition: opacity 0.7s ease, top 0.3s ease;
}

#mobile-nav-container.open {
    display: flex;
}
#mobile-nav.rise {
    top: 0;
    opacity: 1;
}

#mobile-nav div {
    margin: 7px 0;
}

#mobile-nav svg {
    width: 35px;
    height: 35px;
    fill: var(--jet);
}

@media only screen and (max-width: 900px) {
    #header-title {
        font-size: 1.5em;
    }
    #nav > div {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 770px) {
    #nav {
        display: none;
    }

    #mobile-burger-button {
        display: flex;
    }
}