* {
    //box-shadow: inset 0px 0px 0px 1px red;
}

#contact-container {
    display: flex;
    margin-top: 70px;
    justify-content: center;
    margin: 170px 0 100px 0;
}

#contact {
    width: 85vw;
    display: flex;
    justify-content: space-between;
    font-weight: 300;
}
.contact-half {
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#contact-title {
    font-size: 2.8em;
    font-weight: 500;
    padding-bottom: 10px;
}

#contact-subtitle {
    width: 75%;
}

.contact-link {
    cursor: pointer;
    text-decoration: underline;
}

a {
    color: black;
}
.contact-icon {
    width: 24px;
    height: 24px;
    margin-top: 10px;
}

.contact-icon:hover {
    cursor: pointer;
    fill: var(--jet);
}  

form {
    display: flex;
    flex-wrap: wrap;
}

.form-section {
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin: 0 0 24px 0;

}

#form-section-name {
    width: 18.5vw;
}

#form-section-familyname {
    width: 18.5vw;
    margin-left: 3vw;
}

input {
    font-family: "Poppins", sans-serif;
    padding: 10px;
    margin: 6px 0 4px 0;
    background-color: #FAFAFA;
    border: 1px solid #CCCCCC;
    line-height: normal;
    border-radius: 2px;
    width: 100%;
}

textarea {
    font-family: "Poppins", sans-serif;
    padding: 10px;
    margin: 6px 0 4px 0;
    background-color: #FAFAFA;
    border: 1px solid #CCCCCC;
    line-height: normal;
    border-radius: 2px;
    max-width: 100%;
    min-width: 100%;
    height: 100px;
}

.blue-button {
    width: fit-content;
    -webkit-appearance: none;
    border-radius: 0;
    border-width: 0px;
    font-size: 16px;
    font-family: "Poppins";
    padding: 16px 24px;
    background-color: var(--space-cadet);
    color: white;
    transition: all 0.2s ease;
}

.blue-button:hover {
    cursor: pointer;
    color: var(--jet);
    background-color: var(--platinum);
}


@media only screen and (max-width: 770px){

    #contact {
        width: 90vw;
        flex-wrap: wrap;
    }

    .contact-half {
        width: 90vw;
    }

    #contact-half-left {
        align-items: center;
        text-align: center;
    }

    .form-section {
        width: 90vw;
        margin: 0 0 24px 0;
    }

    #contact-half-right {
        margin-top: 50px;
    }

    #form-section-name {
        width: 90vw;
    }
    
    #form-section-familyname {
        width: 90vw;
        margin-left: 0;
    }

    form {

    }
    input {
        width: 90vw;
        box-sizing: border-box;
    }

    textarea {
        width: 90vw;
        box-sizing: border-box;
    }
}