
<div id="curriculum-header-placeholder"></div>
<div id="curriculum-container">
    <div id="left-side">
        <!--<div id="profile-pic"></div>-->
        <div id="personal-info">
            <div class="left-side-title">INFORMACIÓN PERSONAL</div>
            <div class="left-side-section">
                <div class="left-side-section-title">Correo electrónico</div>
                <div id="sendTo" class="left-side-section-content"></div>
            </div>
            
            <div class="left-side-section">
                <div class="left-side-section-title">Dirección</div>
                <div class="left-side-section-content">Calle las Dunas, 17</div>
            </div>
            <div class="left-side-section">
                <div class="left-side-section-title">Código Postal</div>
                <div class="left-side-section-content">13700</div>
            </div>
            <div class="left-side-section">
                <div class="left-side-section-title">Ciudad</div>
                <div class="left-side-section-content">Tomelloso, Ciudad Real</div>
            </div>
        </div>
        <div class="separator"></div>
        <div id="langs">
            <div class="left-side-title">IDIOMAS</div>
            <div class="left-side-section">
                <div class="left-side-section-title">Castellano</div>
                <div class="left-side-section-content">Nativo</div>
            </div>
            <div class="left-side-section">
                <div class="left-side-section-title">Inglés</div>
                <div class="left-side-section-content">Avanzado (B2)</div>
            </div>
            <div class="left-side-section">
                <div class="left-side-section-title">Francés</div>
                <div class="left-side-section-content">Intermedio (B1)</div>
            </div>
            <div class="left-side-section">
                <div class="left-side-section-title">Italiano</div>
                <div class="left-side-section-content">Intermedio (B1)</div>
            </div>
        </div>
    </div>
    <div id="right-side">
        <div class="right-side-section-title">ESTUDIOS</div>
        <div class="right-side-content">
            <div class="right-side-content-name">Máster en Arteterapia en el CFP de la Universidad Politécnica de Valencia</div>
            <div class="right-side-content-date">2020 - 2021</div>
        </div>
        <div class="right-side-content">
            <div class="right-side-content-name">Grado en Bellas Artes por la Universidad Politécnica de Valencia</div>
            <div class="right-side-content-date">2016 - 2020</div>
        </div>
        <div class="right-side-content">
            <div class="right-side-content-name">Bachillerato artístico en la EASD Antonio López de Tomelloso, Ciudad Real</div>
            <div class="right-side-content-date">2014 - 2016</div>
        </div>
        <div class="right-side-content">
            <div class="right-side-content-name">Curso de pintura al óleo en el Estudio de pintura Aurora Sahuquillo</div>
            <div class="right-side-content-date">2009 - 2015</div>
        </div>

        <div class="separator separator-right-side"></div>

        <div class="right-side-section-title">EXPOSICIONES</div>
        <div class="right-side-content">
            <div class="right-side-content-name"><span style="font-style: italic;">Arte y tiempo</span>, Biblioteca y centro cultural de Patraix, Valencia</div>
            <div class="right-side-content-date">2020</div>
        </div>
        <div class="right-side-content">
            <div class="right-side-content-name"><span style="font-style: italic;">Trabajos finales de retrato</span>, Sala de exposiciones Josep Renau, Facultad de Bellas Artes de San Carlos, Valencia</div>
            <div class="right-side-content-date">2018</div>
        </div>
        <div class="right-side-content">
            <div class="right-side-content-name"><span style="font-style: italic;">Exposición final Estudio Aurora Sahuquillo</span>, La Posada de Los Portales, Tomelloso</div>
            <div class="right-side-content-date">2014</div>
        </div>

        <div class="separator separator-right-side"></div>

        <div class="right-side-section-title">CONCURSOS</div>
        <div class="right-side-content">
            <div class="right-side-content-name">XIX Certamen Cooperativa y almazara Virgen de las Viñas, Tomelloso</div>
            <div class="right-side-content-date">2020</div>
        </div>
        <div class="right-side-content">
            <div class="right-side-content-name">I Concurso Urban Art Daimiel, Daimiel, Ciudad Real</div>
            <div class="right-side-content-date">2020</div>
        </div>
        <div class="right-side-content">
            <div class="right-side-content-name">I Edición Pintura al aire libre Barrio del Carmen, Tomelloso, Ciudad Real</div>
            <div class="right-side-content-date">2018</div>
        </div>
    </div>
</div>

<div id="curriculum-contact-banner">
    <div id="curriculum-contact-banner-title"><span>¿Necesitas asesoramiento a la hora de hacer más visible y dinámico tu negocio?</span></div>
    <div id="curriculum-contact-banner-subtitle"><span>Pídeme asesoramiento en función del aspecto que quieras darle a tu local. También se hacen intervenciones en cristales de escaparates.</span></div>
    <a href="contacto"><button class="blue-button">Contacta conmigo</button></a>
</div>


