* {
    //box-shadow: inset 0px 0px 0px 1px red;
}

#curriculum-header-placeholder {
    width: 100vw;
    height: 70px;
    background-color: var(--platinum);
}

#curriculum-container {
    display: flex;
    flex-direction: row;
}

#left-side {
    width: 30vw;
    box-sizing: border-box;
    padding: 50px calc(15vw / 4) 50px calc(15vw / 2);
    background-color: var(--space-cadet);
    color: white;
    min-width: 300px;
}

.left-side-title {
    font-size: 1.5em;
    font-weight: 600;
}

.left-side-section-title {
    font-weight: 600;
    font-size: 1.1em;
}

.left-side-section-content {
    font-weight: 300;
}

.left-side-section-content a {
    color: white;
}

.left-side-section {
    margin-top: 20px;
}

.separator {
    width: 100%;
    height: 2px;
    background-color: white;
    margin: 20px 0;
}

.separator-right-side {
    background-color: rgb(157, 157, 157);
}

#right-side {
    width: 70vw;
    box-sizing: border-box;
    padding: 50px calc(15vw / 2) 50px calc(15vw / 4);
}

.right-side-section-title {
    font-size: 1.3em;
    color: var(--middle-red);
    font-weight: 600;
}

.right-side-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;
}

.right-side-content-name {
    width: 35vw;
    font-size: 1.1em;
}

.right-side-content-date {
    color: rgb(77, 77, 77);
    font-size: 0.9em;
}

#curriculum-contact-banner {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 70px 0;
    background-color: var(--platinum);
}

#curriculum-contact-banner div {
    width: 50vw;
    margin: 20px;
}

#curriculum-contact-banner-title {
    font-size: 2em;
    font-weight: 500;
}

#curriculum-contact-banner-subtitle {
    font-size: 1.2em;
    line-height: 1.4em;
    font-weight: 300;
}

.blue-button {
    width: fit-content;
    -webkit-appearance: none;
    border-radius: 0;
    border-width: 0px;
    font-size: 16px;
    font-family: "Poppins";
    padding: 16px 24px;
    background-color: var(--space-cadet);
    color: white;
    transition: all 0.2s ease;
    margin-top: 20px;
}

.blue-button:hover {
    cursor: pointer;
    color: var(--jet);
    background-color: white;
}

@media only screen and (max-width: 1200px) {
    #left-side {
        padding: 50px calc(15vw / 4) 50px calc(15vw / 4);
    }
}

@media only screen and (max-width: 770px) {
    #curriculum-container {
        flex-direction: column-reverse;
    }
    #left-side {
        width: 100vw;
    }
    #right-side {
        width: 100vw;
    }
    .right-side-content {
        flex-direction: column;
        margin-top: 30px;
    }
    .right-side-content-name {
        width: 90vw;
    }
    #curriculum-contact-banner div {
        width: 80vw;
    }
    #curriculum-contact-banner-title {
        font-size: 1.5em;
    }
}